.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0C112B;
    color: #FFF;
  }
  
  .title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #FF5F00;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #E67400;
  }