.landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #041b23;
  color: #ecf1f2 ;
}

.title {
  font-size: 4rem; /* Reducimos el tamaño del título */
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
}

.button {
  padding: 12px 24px; /* Ajustamos el padding del botón */
  font-size: 1.2rem; /* Reducimos el tamaño del texto del botón */
  background-color: #05bbd5; /* Nuevo color del botón */
  color: #ecf1f2 ;
  border: none;
  border-radius: 6px; /* Aumentamos el radio del borde del botón */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Agregamos una transición suave al color de fondo del botón */
}

.button:hover {
  background-color: #0795b3; /* Cambiamos el color del botón al pasar el cursor */
}
