.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  background-color: #0C112B;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card .imageContainer img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card .content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card .name {
  margin-bottom: 10px;
}

.card .name h2 {
  font-size: 18px;
  margin: 0;
  color: #fff;
}

.card .genres {
  margin-bottom: 10px;
}

.card .genres h3 {
  font-size: 16px;
  margin: 0;
  color: #FFD500;
}

.card .buttonContainer {
  margin-top: auto;
}

.card .buttonContainer .cardLink {
  text-decoration: none;
}

.card .buttonContainer .cardButton {
  padding: 10px 20px;
  background-color: #FF5F00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card .buttonContainer .cardButton:hover {
  background-color: #c94b01;
}
