.search {
  display: flex;
  align-items: center;
}

.input {
  padding: 6px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
}

.button {
  padding: 6px 12px;
  background-color: #05bbd5;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex; /* Agregar para centrar el contenido */
  align-items: center; /* Agregar para centrar verticalmente */
}

/* Eliminar reglas para la imagen dentro del botón */

/* .button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
} */

/* Estilos adicionales para ajustar el tamaño del ícono */
.button .MuiSvgIcon-root {
  font-size: 15px; /* Ajustar el tamaño según sea necesario */
}

.button:hover {
  background-color: #0795b3;
}
