.search {
  display: flex;
  align-items: center;
}

.input {
  padding: 6px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
}

.button {
  padding: 6px 12px;
  background-color: #FF5F00;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 30px;
  height: 30px; 
}

.button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px;
}

.button:hover {
  background-color: #c94b01;
}
