
.orderButtonContainer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .orderLabel {
    font-size: 16px;
    font-weight: bold;
    color:#FFF;
    margin-right: 10px;
  }
  
  .orderSelect {
    padding: 8px 12px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background-color: #ffffff;
    color:#ff7f50;
  }
  
  .orderSelect:focus {
    outline: none;
    border-color: #ff7f50;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }


.optionAZ:hover{
    background-color: #ff7f50;
    color: #ffffff;
}

/* .orderSelect option:hover,
.orderSelect option:checked {
    background-color: #ff7f50; 
    color: #ffffff; 
  }
   */