
.orderButtonContainer {
  background-color: #05bbd5;
  color: #ecf1f2;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Mantener posición absoluta */
  right: 0; /* Alinear a la izquierda */
  top: 0; /* Alinear arriba */
 /* Mover a la izquierda del contenedor principal */
}
  
  
  .orderSelect {
    border: none;
    height: 40px;
    width: 150px;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    background-color: #05bbd5;
    color:#ecf1f2;
    cursor: pointer;
  }
  

.orderSelect:hover{
    background-color: #0795b3;
}

/* .orderSelect option:hover,
.orderSelect option:checked {
    background-color: #ff7f50; 
    color: #ffffff; 
  }
   */