.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.paginationButton {
  padding: 8px 12px;
  margin: 0 5px;
  background-color: #FF5F00;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: #c94b01;
}

.active {
  font-weight: bold;
  border: 2px solid #FFF;
}
