.filterOptions {

  background-color: #05bbd5;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  position: absolute; /* Cambiar a posición absoluta */
  left: 0; /* Alinear a la derecha */
  top: 0; /* Alinear arriba */
}
.filterOptions:hover{
  background-color: #0795b3;
}

.filterButton {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
  align-items: center;
  background-color: #05bbd5;
  color: #ecf1f2;
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 4px;
  cursor: pointer;

}
.filterButton:hover{
  background-color: #0795b3; /* Cambiamos el color del botón al pasar el cursor */
}
.filterContent {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filterRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filterLabel {
  margin-right: 10px;
  font-weight: bold;
  color: var(--primary-color);
}

.filterSelect {
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.applyButton {
  padding: 6px 12px;
  background-color: #05bbd5;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.applyButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
