.filterOptions {
  margin-bottom: 20px;
}

.filterButton {
  background-color: #FFF;
  color: #FF5F00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 12px;
}

.filterContent {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.filterRow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.filterLabel {
  margin-right: 10px;
  font-weight: bold;
  color: var(--primary-color);
}

.filterSelect {
  padding: 5px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.applyButton {
  padding: 6px 12px;
  background-color: #FF5F00;
  color: #FFF;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.applyButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
